In [22]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from scipy.sparse import csr_matrix
from scipy.sparse.csgraph import shortest_path
import math
import descartes
from shapely.geometry import Point,Polygon
resident_data_2018_raw = pd.read_excel('ukmidyearestimates20182019ladcodes.xls', 'MYE2-All', skiprows=4)
resident_data_2018_raw=resident_data_2018_raw.rename(columns={'Code':'AreaCode'})
resident_data_2018_raw =resident_data_2018_raw[resident_data_2018_raw['AreaCode'].isin(death_table.index)]
resident_data_2018_raw=resident_data_2018_raw.reset_index()
TotalPop=resident_data_2018_raw['All ages']
resident_data_2018_raw=resident_data_2018_raw.drop(columns=['index',"Name", "Geography1",'All ages'])
# resident_data_2018=resident_data_2018_raw.drop(columns=['AreaCode'])

In [55]:
p=[1.87571171e-06, 3.54961995e+00]
p[0]

1.87571171e-06

In [44]:
resident_data_2018_raw

,AreaCode,0,1,2,3,4,5,6,7,8,...,81,82,83,84,85,86,87,88,89,90
0,E06000047,4989.0,5252.0,5448.0,5547.0,5785.0,5939.0,5929.0,6223.0,6140.0,...,3312.0,2843.0,2659.0,2341.0,2063.0,1811.0,1741.0,1409.0,1149.0,4138.0
1,E06000005,1134.0,1104.0,1207.0,1216.0,1256.0,1314.0,1369.0,1284.0,1341.0,...,664.0,613.0,594.0,494.0,489.0,407.0,342.0,301.0,259.0,1058.0
2,E06000001,999.0,1011.0,1101.0,1060.0,1126.0,1136.0,1200.0,1219.0,1218.0,...,595.0,491.0,491.0,427.0,405.0,351.0,289.0,267.0,217.0,787.0
3,E06000002,1871.0,1970.0,1882.0,1969.0,1965.0,2025.0,1955.0,1975.0,1911.0,...,714.0,676.0,608.0,531.0,525.0,392.0,421.0,323.0,280.0,886.0
4,E06000057,2874.0,2944.0,3058.0,2945.0,3089.0,3284.0,3368.0,3442.0,3481.0,...,2262.0,2011.0,1953.0,1632.0,1484.0,1353.0,1211.0,1079.0,864.0,3347.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,S12000028,938.0,952.0,1061.0,1107.0,1039.0,1074.0,1087.0,1206.0,1159.0,...,858.0,784.0,736.0,609.0,604.0,507.0,476.0,383.0,311.0,1248.0
367,S12000029,3198.0,3358.0,3343.0,3472.0,3432.0,3533.0,3604.0,3669.0,3466.0,...,1803.0,1742.0,1458.0,1373.0,1254.0,1081.0,983.0,775.0,691.0,2331.0
368,S12000030,815.0,802.0,901.0,856.0,920.0,940.0,992.0,975.0,958.0,...,592.0,498.0,498.0,376.0,373.0,357.0,244.0,212.0,206.0,720.0
369,S12000039,867.0,909.0,963.0,929.0,958.0,1032.0,1053.0,1050.0,1034.0,...,465.0,448.0,387.0,362.0,327.0,304.0,245.0,211.0,193.0,573.0
370,S12000040,1915.0,2018.0,2043.0,2159.0,2222.0,2226.0,2239.0,2439.0,2278.0,...,800.0,756.0,677.0,599.0,471.0,522.0,400.0,298.0,256.0,961.0

In [58]:
totdeath=np.zeros(len(resident_data_2018_raw))
for i in range(0,len(resident_data_2018_raw)):
    for j in range(0,90):
        totdeath[i]=totdeath[i]+p[0]*np.power(j,p[1])*resident_data_2018_raw.iloc[i][j]

In [65]:
averagedeathRate=totdeath/TotalPop/100
averagedeathRate.min()

0.011698936905275925

In [68]:
DeathRate= pd.DataFrame((resident_data_2018_raw['AreaCode'],averagedeathRate))
DeathRate=DeathRate.transpose()
DeathRate=DeathRate.rename(columns={'All ages':'CFR'})
DeathRate.to_csv('CFR.csv')

In [54]:
averageage=totage/TotalPop
averageage.max()

47.38246996709771

In [53]:
resident_data_2018_raw['AreaCode'][179]

'E07000147'

In [9]:
death_table = pd.read_csv('out.csv', sep=',').transpose().drop('Unnamed: 0')
death_table.index

Index(['E06000001', 'E06000002', 'E06000003', 'E06000004', 'E06000005',
       'E06000006', 'E06000007', 'E06000008', 'E06000009', 'E06000010',
       ...
       'W06000014', 'W06000015', 'W06000016', 'W06000018', 'W06000019',
       'W06000020', 'W06000021', 'W06000022', 'W06000023', 'W06000024'],
      dtype='object', length=371)